// Grays
// -------------------------
@gray:                  #666666;
@haze:                  #fbfbfb;
@white:                 #fff;

// Colors
// -------------------------
@primary-color:                 #1cac20;
@secondary-color:               #010b76;
@shadow-color:                  #3f3f3f;